# --- Node ---
node_modules/

# --- Expo ---
.expo/
.expo-shared/
dist/
build/
web-build/
.cache/
metro-cache/

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Env Files ---
.env
.env.*

# --- VSCode ---
.vscode/

# --- OS ---
.DS_Store
Thumbs.db

# --- Native folders (ignored if using managed workflow) ---
android/
ios/st/build/

# VSCode
.vscode/
